*.jpg
*.csv
*.xml
*.iml
bin/
lib/
include/
TrainSmall2/
pip-selfcheck.json

code/test.py

.Python
.idea/code/__pycache__/image.cpython-35.pyc
code/config.py
code/__pycache__/*
Model/2layers.mod
.DS_Store
